name: hello-world

on:
  workflow_dispatch:
  push:
    branches:
      - test-helloworld

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
